// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

.px-6 {
  padding-left: 64px !important;
  padding-right: 64px !important;
}

.pl-6 {
  padding-left: 64px !important;
}
.pl-7 {
  padding-left: 90px !important;
}

.mt-6 {
  margin-top: 68px !important;
}

.mt-7 {
  margin-top: 105px !important;
}

.mt-8 {
  margin-top: 128px !important;
}

.theme--dark.v-btn {
  color: #d2d2d2 !important;
}

.theme--dark.v-table th,
table.v-table tfoot tr
{
  background #292929 !important;
}

button.theme--dark.v-btn {

}

table.v-table tfoot tr {
  height: 32px;
}

.background {
  __background : url(./gradmd.jpeg) top left;

}

.v-btn.v-btn--floating.v-btn--small {
  height:36px !important;
}

.text-align-center{
  text-align center !important;
}

.theme--light.v-text-field--box > .v-input__control > .v-input__slot {
  background: transparent;
}

.v-text-field > .v-input__control > .v-input__slot:after {
  border-width: 0;
}
button, input, select, textarea {
  background-color: transparent !important;
}

::selection {
  background-color: transparent;
  color: #000;
  text-shadow: none;
}

.v-item-group.v-bottom-nav .v-btn {
  max-width: 70px;
  min-width: 80px;
}

.v-datatable td {padding: 0 5px !important}
.v-datatable__actions__select { display: none;}

.grad {
  background: #424242;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #424242, #545454);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #424242, #545454); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.deepshadow {
  letter-spacing: .1em;

  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7);
}

.vue-recaptcha div {
  margin: auto
}

.only-menu {  width:0px; padding:0;margin:0 }
.only-menu input{  }
.only-menu .v-input__slot{ position: relative; left:-18px;  background:transparent; padding-left:0; cursor: pointer}

.left-float {float: left}
.right-float {float: right}
.image-container {
  width:100% !important;
}
