// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'
.mt-6 {
  margin-top: 68px !important;
}

.mt-7 {
  margin-top: 88px !important;
}

.mt-8 {
  margin-top: 128px !important;
}

.theme--dark.v-btn {
  color: #d2d2d2 !important;
}
